.Icon
    position relative
    max-width 100%
    max-height 100%
    fill currentColor
    user-select none
    display inline-flex
    align-items center
    justify-content center
    padding rhythm--half

    &--tight
        padding 0

    &--subtle
        color grey(60)

        .Theme--light &
            color grey(30)

    &--active
        color theme.active;

        .Theme--light &
            color theme.active;

    &--disabled
        cursor default
        color grey(85)

        .Theme--light &
            color grey(70)

    &-glyph
        transition transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.1s ease-in-out
        height 1em
        width 1em
        text-align center

        &.enter
            transform rotate(-360deg)
            opacity 0

        &.exit
            position absolute
            transform rotate(0deg)
            opacity 1

        &.enter-active
            transform rotate(0deg)
            opacity 1

        &.exit-active
            transform rotate(360deg)
            opacity 0

    &--rotateLeft &-glyph
        &.enter
            transform rotate(360deg)

        &.exit
            transform rotate(0deg)

        &.enter-active
            transform translate(-50%, -50%) rotate(0deg)

        &.exit-active
            transform translate(-50%, -50%) rotate(-360deg)
