.NewFile
    display flex
    align-items center
    justify-content center
    height 100%

    &-form
        max-width 20rem
        justify-content center
        align-items center

    &-button
        margin-top rhythm
