@import 'Pixie/Style/reset.styl'

html
    overflow hidden

.Root
    width 100vw
    height 100vh
    display flex
    flex-direction column
    color theme.black

.App-filters
    display none

::selection
    background theme.active
    color theme.white

::-webkit-scrollbar
    width rhythm--quarter * 3

    &-track-piece
        border rhythm--quarter solid transparent
        box-shadow inset 0 0 rhythm--quarter rhythm--quarter grey(96)
        border-radius 100vw

    &-thumb
        border rhythm--quarter solid transparent
        box-shadow inset 0 0 rhythm--quarter rhythm--quarter grey(85)
        border-radius 100vw
        transition box-shadow 0.1s ease-in-out, border 0.1s ease-in-out

        &:hover
            box-shadow inset 0 0 rhythm--quarter rhythm--quarter grey(70)
