.Icon
    position relative
    width 2.4em
    height 2.4em

    &-glyph
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        transition transform 0.3s ease-in-out, opacity 0.3s ease-in-out

        &.enter
            transform translate(-50%, -50%) rotate(-360deg)
            opacity 0

        &.exit
            transform translate(-50%, -50%) rotate(0deg)
            opacity 1

        &.enter-active
            transform translate(-50%, -50%) rotate(0deg)
            opacity 1
        
        &.exit-active
            transform translate(-50%, -50%) rotate(360deg)
            opacity 0

    &--rotateLeft &-glyph
        &.enter
            transform translate(-50%, -50%) rotate(360deg)

        &.exit
            transform translate(-50%, -50%) rotate(0deg)

        &.enter-active
            transform translate(-50%, -50%) rotate(0deg)
        
        &.exit-active
            transform translate(-50%, -50%) rotate(-360deg)
        