.Field
    display flex
    flex-direction column
    margin-bottom rhythm--half
    align-items flex-start
    position relative

    unfocused = grey(70)
    speed = 0.1s

    &-label
        display block
        width auto
        padding-left 0.4em
        padding-right 0.4em
        margin-bottom 0.4em
        color unfocused
        overflow hidden
        transition transform speed ease-in-out, background-color speed ease-in-out, unquote('color') speed ease-in-out

    &-content
        border 0.2rem solid theme.panel
        border-radius 0.4rem
        width 100%
        padding 0.8em
        position relative
        z-index 1
        background theme.panel
        transition background-color speed ease-in-out, border-color speed ease-in-out

    &-errors
        background theme.error
        color theme.errorText
        padding 0 0.8em
        font-size fs--tiny
        height 1.4em
        margin-bottom -1.4em
        border-radius 0 0 0.4rem 0.4rem
        display flex
        align-items center
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
        position relative
        z-index 0

        transition transform 0.2s ease-in-out

        &.enter, &.exit-active
            transform translateY(-100%)

        &.enter-active
            transform translateY(0)

    // Focus / blur styles
    &--focus
        .Field-label
            color theme.active

        .Field-content
            border-color theme.active
            background theme.white

    &--unfocus:hover &-content
        border-color grey(50)

    &--empty &-content
        background theme.panel

    // Error styles
    &--error
        .Field-label
            color theme.error

        .Field-content
            border-color theme.error
            border-bottom-right-radius 0

    // Pill variant. Rounds off the content ends.
    &--pill &-content
        border-radius 1.5em
        padding-left 1.5em
        padding-right 1.5em

    // Tight variant. Removes padding from around and within the element
    &--tight
        margin 0

        .Field-content
            padding 0.2em 0.4em
            border-width 0.1rem

    // Inline variant. Puts label and field sbs
    &--inline
        flex-direction row
        align-items center

        .Field-label
            flex-shrink 0
            margin 0

    // Variant that uses the label as the placeholder. Will animate out into
    // part of the border when focused / errored.
    &--placeholderLabel
        .Field-label
            position absolute
            cursor text
            left calc(0.2em + 0.2rem)
            top calc(0.8em + 0.2rem)
            transform-origin left
            transform translate(0, calc(-1.2em - 0.2rem)) scale(0.8)
            margin-bottom none
            max-width calc(100% - 0.6em)
            background-color transparent
            z-index 2
            border-radius 1000vh

        &.Field--pill .Field-label
            left 1em

        &.Field--unfocus:hover .Field-label
            color theme.white
            background unfocused

        &.Field--empty
            &.Field--unfocus .Field-label
                transform translate(0, 0) scale(1)
                color unfocused
                background-color transparent

        &.Field--error .Field-label
            color theme.white
            background theme.error

        &.Field--focus .Field-label
            color theme.white
            background theme.active

    // invisible variant. looks like text
    &--invisible
        &, .Field-content, .Field-text
            border none
            border-color transparent
            border-radius 0
            background transparent
            padding 0
            margin 0
            display static

        .Field-content
            border-bottom 0.1rem solid transparent

        &.Field--focus .Field-content
            border-bottom 0.1rem solid subtle-border

    // Text fields specifically
    &--text
        .Field-content
            cursor text

    input, textarea
        background transparent
        display block
        width 100%
