.Layers
    position absolute
    top rhythm--quarter
    left 100%
    bottom rhythm--quarter
    transition transform 0.3s ease-in-out
    z-index 0
    overflow hidden

    .App--mobile &
        bottom 4rem + rhythm--quarter * 3

    +smaller-than(small)
        bottom 4rem + rhythm--quarter * 3

    &--open
        transform translateX(-100%)

    &-drawer
        background theme.panel
        border-radius 0.3rem
        position relative
        margin-right rhythm--quarter
        z-index 1
        max-height 100%
        display flex
        flex-direction column
        width 20rem

    &-controls
        flex-grow 0
        flex-shrink 0
        font-size fs--small
        font-weight 500
        display flex
        align-items center
        border-radius 0.3rem
        white-space nowrap
        padding rhythm--half rhythm--quarter * 3
        color grey(70)

    &-body
        padding 0 rhythm--quarter
        flex-grow 0
        flex-shrink 1
        overflow-x hidden
        overflow-y auto

    &-layer
        border-radius 0.3rem
        display flex
        align-items center
        font-size fs--medium
        padding rhythm--quarter rhythm--half
        width 100%
        margin-bottom rhythm--quarter
        cursor pointer

        &:not(&--active):hover
            background-color theme.panelHover

        > *
            flex-shrink 0
            flex-grow 0

    &-preview
        position relative
        width 1em


    &-image
        border 0.1rem solid subtle-border

    &-name
        font-size fs--small
        margin-left rhythm--quarter
        color theme.black
        padding 0.3em
        white-space nowrap
        flex-shrink 1
        flex-grow 1

    &-visibility
        color inactive-color
        margin-right rhythm--half
        font-size fs--small

    &-layer--visible &-visibility
        color theme.black

    &-layer--solo &-visibility
        color theme.active

    &-layer--active
        background theme.panelActive
        cursor default

    &-control
        margin-left rhythm--quarter
        font-size fs--small

        &--disabled
            color grey(85)

        &:not(&--disabled)
            interactive()

    &-spacer
        flex-grow 1
