.Timeline
    frame-size = 3rem
    inactive-color = grey(80)

    padding 0 rhythm--half rhythm--half

    &-layer
        display block
    
    &-layer-frame
        color theme.panel;
        display inline-block
        background inactive-color;
        border-radius 0.4rem
        width frame-size
        height frame-size

        & + &
            margin-left rhythm--half

        &--button
            color grey(60)
            background-color transparent
            border 0.1rem solid inactive-color;

        &--active
            color theme.panel;
            background theme.active;
    
    &-controls
        display flex
        margin-bottom rhythm--half
        align-items center
        height 4rem
    
    &-control
        color inactive-color
        font-size 1.2rem
        width 3rem
        height 2rem

    &-info
        font-size 1.2rem
        display flex
        align-items center
        background grey(95)
        margin-left rhythm--half
        border-radius 0.3rem
    
    &-frame-number
        margin-left rhythm--half
        margin-right rhythm--half
        color grey(50)
    
    &-duration
        width 12rem