@import './theme.styl'

checker = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAABdJREFUCJkFwQEBAAAAgiD7P5ogqKyCDlXFCPlryZ/bAAAAAElFTkSuQmCC'

subtle-border = grey(88)
inactive-color = grey(60)

airy(t = 1)
    letter-spacing t * 0.05em

/**
 * Breakpoints
 *
 * Tools for setting and using breakpoints
 */
breakpoints = {
    small: 600px,
    medium: 900px,
    large: 1200px,
    xl: 1500px,
    huge: 1900px
}

breakpoint(name)
    if name in breakpoints
        return breakpoints[name]
    return name

bigger-than(name)
    @media screen and (min-width: breakpoint(name))
        {block}

/**
 * Using a not query rather than a max-width query, because a max-width query confuses
 * the exact breakpoint value. For example, bigger-than(small) and smaller-than(small)
 * both apply the block styles to a 600px width screen, which is not ideal.
 */
smaller-than(name)
    @media not screen and (min-width: breakpoint(name))
        {block}

/**
 * Spacing
 */
 rhythm = 2rem
 rhythm--double = 2 * rhythm
 rhythm--half = rhythm / 2
 rhythm--quarter = rhythm / 4

content-padding(mod = 1)
    beat = rhythm--double * mod
    padding beat

    +smaller-than(large)
        padding (beat / 2)

    +smaller-than(small)
        padding (beat / 4)

fs--tiny = 0.8rem
fs--small = 1.2rem
fs--medium = 1.4rem
fs--large = 1.6rem
