enableThemes()

*, ::before, ::after
    box-sizing border-box
    margin 0
    padding 0
    border none
    outline none
    font-family inherit
    font-size inherit
    color inherit
    font-weight inherit
    font-style inherit
    list-style none

a, a:link, a:hover, a:active, a:visited
    text-decoration inherit
    font-family inherit
    font-size inherit
    color inherit
    font-weight inherit
    font-style inherit

button
     background transparent

html
    font-size 62.5%
    background grey(95)
    color theme.black
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    height 100vh
    width 100vw

body
    position relative
    font-size fs--medium
    height 100vh
    width 100vw

.Root
    min-width 28rem
    height 100vh
    width 100vw
    overflow visible
