@import './colors.styl'

themes = {
    light: {
        white: #efefef,
        active: #7fce00,
        grey: #4b5a68,
        black: #050306,
        primary: #a0f020,
        secondary: #2de758,
        tertiary: #00db92,
        primaryDark: #9c1f25,
        secondaryDark: #8a0c7c,
        tertiaryDark: #106587,
        red: #f7545c,
        orange: #e09524,
        yellow: #e0ca24,
        green: #79d962,
        cyan: #4ccafc,
        blue: #1e2ee3,
        magenta: #b32ba5,
        error: #f7545c,
        errorText: #fff,
        success: #79d962,
        successText: #fff,
        mobileStatusBar: #000,
    },
    dark: {
        white: #050306,
        active: #b9fc4c,
        grey: #89a,
        black: #efefef,
        primary: #b9fc4c,
        secondary: #50f176,
        tertiary: #19f1a9,
        primaryDark: #9c1f25,
        secondaryDark: #8a0c7c,
        tertiaryDark: #106587,
        red: #f7545c,
        orange: #e09524,
        yellow: #e0ca24,
        green: #79d962,
        cyan: #4ccafc,
        blue: #5460e4,
        magenta: #b32ba5,
        error: #f7545c,
        errorText: #4f0c0f,
        success: #79d962,
        successText: #fafafa
        mobileStatusBar: #000,
    }
}

defaultTheme = 'light'
gradientSteps = 100

addGradientTo(theme, name, a, b, c)
    step = 100 / gradientSteps
    t = themes[theme]
    for i in 0..gradientSteps
        s = step * i
        t[name + "-" + s] = grad(a, b, c, s / 100)

getGradient(name, d)
    n = name + "-" + d
    return var(unquote('--theme-' + n), themes[defaultTheme][n])

primary(d)
    return getGradient('primary', d)

grey(d)
    return getGradient('grey', d)

for __theme, __colors in themes
    // Add gradients
    addGradientTo(__theme, 'grey', __colors.black, __colors.grey, __colors.white)
    addGradientTo(__theme, 'primary', __colors.primary, __colors.secondary, __colors.tertiary)

themes.dark.panel = grey(92)
themes.dark.panelHover = grey(94)
themes.dark.panelActive = grey(96)

themes.light.panel = grey(100)
themes.light.panelHover = grey(98)
themes.light.panelActive = grey(96)

theme = {}
for __name, __color in themes[defaultTheme]
    theme[__name] = var(unquote('--theme-' + __name), __color)

enableThemes()
    for theme, colors in themes
        .Theme--{theme}
            for name, color in colors
                --theme-{name} color
