.Onion
    &--animated &-skin
        transition transform 0.1s ease-in-out
        transform-origin 500px 500px
    
    &--animated &-skin--top
        transform translate(-200, 200) scale(0.9)
    
    &--animated &-skin--bottom
        transform translate(200, -200) scale(0.9)
    
    &--animated&--on &-skin
        transform scale(1)