.Toolbar
    position absolute
    top rhythm--half
    left rhythm--half
    bottom rhythm--half
    width auto
    display flex
    flex-direction column
    z-index 1

    &-spacer
        flex-grow 1

    &-tool
        font-size 2rem
        border-bottom-width 0

        & + &
            border-top-width 0

        &--solid
            background green
            border-top-left-radius 0.4rem
            border-top-right-radius 0.4rem

            & + &
                border-radius 0

            &:last-of-type
                border-bottom-left-radius 0.4rem
                border-bottom-right-radius 0.4rem

        &--active
            color theme.active