.Toolbar
    position absolute
    top 0
    left rhythm--half
    bottom rhythm--half
    width 0
    display flex
    flex-direction column
    z-index 1

    &-item
        width 4.8rem
        position relative

    &-spacer
        flex-grow 1

    &-tool
        font-size 2rem
        border-bottom-width 0
        width auto

        & + &
            border-top-width 0

        &--solid
            background green
            border-top-left-radius 0.4rem
            border-top-right-radius 0.4rem

            & + &
                border-radius 0

            &:last-of-type
                border-bottom-left-radius 0.4rem
                border-bottom-right-radius 0.4rem

        &--active
            color theme.active

        &--disabled
            color grey(70)

    &-undo
        display flex
        position fixed
        bottom rhythm--half
        left 50%
        transform translateX(-50%)
        background grey(92)
        border-radius 100vw