.TopBar
    display flex
    background theme.panel;
    padding rhythm--half

    &-spacer
        flex-grow 1

    &-right
        display flex
        align-items center

        > * + *
            margin-left rhythm--half
