.Dropdown
    &-toggle
        display flex
        align-items center
        border-radius 0.3rem
        padding rhythm--quarter

    &--open &-toggle
        background theme.panel
        color theme.black

    &-item
        white-space nowrap
        display flex
        align-items center
        padding rhythm--quarter
        border-radius  0.3rem
        user-select none
        font-size fs--small

    &-divider
        border-top 0.1rem solid grey(85)
        margin rhythm--quarter 0

    &-icon
        margin-left rhythm

    &-spacer
        flex-grow 1

    &-content
        overflow hidden
        background theme.panel
        transform translateY(0)
        transition transform 0.2s ease-in-out
        padding rhythm--quarter

        .Popover--show &
            transform translateY(rhythm--quarter)


        &--tight
            transform translateY(- rhythm--quarter)

            .Popover--show &
                transform translateY(0)

    &-toggle, &-item--clickable
        color grey(50)
        cursor pointer

        &:hover, &:focus
            color grey(30)

        &:active
            transition color none
            color grey(0)

    &-item--disabled
        color grey(80)

    &-item--clickable:hover
        background theme.panelHover

    &-content--mobile
        font-size fs--large
        width 'calc(100vw - %s)' % rhythm
        transform translateY(100%)
        padding rhythm--half

        .Popover--show &
            transform translateY(- rhythm--half)

    &-content--mobile &
        &-item
            padding rhythm

        &-icon
            margin-left rhythm
