.Dropdown
    &-toggle
        display flex
        align-items center

    &-item
        white-space nowrap
        display flex
        align-items center
        padding rhythm--quarter rhythm--half
        user-select none

        & + &
            border-top 0.1rem solid grey(85)

    &-icon
        margin-right rhythm--quarter

    &-spacer
        flex-grow 1

    &-content
        overflow hidden

    &-toggle, &-item--clickable
        color grey(50)
        cursor pointer

        &:hover, &:focus
            color grey(30)

        &:active
            transition color none
            color grey(0)

    &-item--clickable:hover
        background grey(93)
