.Workspace
    display flex
    position relative
    align-items center
    justify-content center
    height 100%
    width 100%
    overflow hidden
    touch-action none

    .Theme--light &
        background-color grey(20)

    &-stage
        position absolute
        image-rendering pixelated
        outline 1px solid grey(98)
        background-color grey
        pointer-events none

    &-stage:before
        content ''
        display block
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        background-image url(checker)
        background-size 32px 32px
        mix-blend-mode multiply
        opacity 0.25
    
    &-cel, &-cursor
        transform-origin top left
        pointer-events none
        position absolute
        left 0
        top 0