.Layers
    position absolute
    top 0
    left 100%
    bottom 0
    transition transform 0.3s ease-in-out
    z-index 0

    &-toolbar
        position absolute
        top 0
        right 100%
        width 0
        bottom rhythm--half
        margin-right rhythm--half

        display flex
        flex-direction column
        justify-content flex-end
        z-index 0

    &--open
        transform translateX(-100%)
    
    &-drawer
        position relative
        overflow hidden
        height 100%
        background theme.panel
        z-index 1

    &-list
        transition transform 0.3s ease-in-out
        margin rhythm--half
        transform translateX(0)
    
    &-list.exit
        transform translateX(0)

    &-list.exit-active, &-list.enter
        transform translateX(rhythm)
    
    &-list.enter-active
        transform translateX(0)

    &-layer
        width 10rem
        border-radius 0.3rem
        overflow hidden
        box-shadow 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2)
        border 1px solid grey(75)
    
        & + &
            margin-top rhythm--half
    
    &-preview
        background white
        padding-bottom 100%

    &-name
        background theme.white
        color theme.black
        padding 0.3em

