.Layers
    position absolute
    top 0
    left 100%
    bottom 0
    transition transform 0.3s ease-in-out
    z-index 0
    background theme.panel;
    // Note: This fixes a mid-animation issue where the right panel snaps
    // to height while the bottom drawer animates in.
    box-shadow 50vh 0 0 50vh theme.panel;

    &--open
        transform translateX(-100%)
    
    &-drawer
        position relative
        overflow hidden
        height 100%
        z-index 1

    &-list
        border-bottom 0.1rem solid subtle-border
        transition transform 0.3s ease-in-out
        transform translateX(0)
    
    &-list.exit
        transform translateX(0)

    &-list.exit-active, &-list.enter
        transform translateX(rhythm)
    
    &-list.enter-active
        transform translateX(0)

    &-layer
        border-top 0.1rem solid subtle-border
        display flex
        align-items center
        font-size fs--medium
        padding rhythm--quarter rhythm--half
        width 20rem

        > *
            flex-shrink 0
            flex-grow 0

    &-add
        border-top 0.1rem solid subtle-border
    
    &-preview
        position relative
        width 2rem

    &-image
        border 0.1rem solid subtle-border

    &-name
        font-size fs--small
        margin-left rhythm--quarter
        color theme.black
        padding 0.3em
        white-space nowrap
        flex-shrink 1
        flex-grow 1
    
    &-visibility
        color inactive-color
        margin-right rhythm--half
        font-size fs--small
    
    &-delete
        margin-left rhythm--quarter
        font-size fs--small

    &-layer--visible &-visibility
        color theme.black

    &-layer--solo &-visibility
        color theme.active

    &-layer--active
        background grey(95)
        border-color transparent

        + *
            border-top-color transparent