.UI
    position absolute
    left 0
    top 0
    bottom 0
    right 0

    display flex
    flex-direction column
    overflow hidden
    
    &-left, &-right, &-top, &-bottom
        position relative
        z-index 2

    &-center
        flex-grow 1

        display flex

    &-spacer
        flex-grow 1
